@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Dancing+Script&family=Open+Sans&family=Poppins:wght@200&family=Roboto&display=swap');

*,
*::after,
*::before {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --open-sans-font: 'Open Sans', sans-serif;
  --albert-sons-font: 'Albert Sans', sans-serif;
  --poppins-font: 'Poppins', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
  --dancing-font: 'Dancing Script', 'cursive';
  --main-orange: #e67f09;
  --white-font-color: rgb(255, 255, 255);
  --black-font-color: #000;
}

/* -------------------------------- HEADER STYLING----------------------------  */

.header-container {
  background: url("https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
  .top-nav {
    width: 100%;
    position: absolute;
    top: 0%;
  }
    .top-nav ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: rgb(0, 0, 0, 0.4);
      color: #fff;
      list-style-type: none;
      padding: 0.5rem;
    }
      .top-nav ul li {
        font-family: var(--albert-sons-font);
        font-size: 1.1rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .top-nav ul li:hover {
        text-decoration: underline;
      }

  .middle-container {
    width: 70%;
    min-height: 22em;
    max-height: max-content;
    display: flex;
    box-shadow: 0px 0px 50px 30px rgb(0, 0, 0, 0.4);
    margin-top: 1em;
  }
    .image-back {
      background: url('https://images.unsplash.com/photo-1551218808-94e220e084d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      flex: 1 1 0;
    }
    .welcome-container {
      background-color: rgb(100, 77, 56);
      flex: 1.2 1 0;
      position: relative;
    }
    .welcome-container h1 {
      font-family: var(--dancing-font);
      color: var(--main-orange);
      margin: 1rem;
      width: max-content;
      margin-right: auto;
      padding: 0.2rem;
      border-bottom: 4px solid var(--main-orange);
      font-weight: 100;
    }
    .welcome-container p {
      margin: 1em;
      color: var(--white-font-color);
      padding-right: 3em;
      font-family: var(--poppins-font);
      font-weight: 500;
      font-size: 0.8rem;
    }
    .welcome-container .buttons {
      width: 100%;
      margin: 2em auto;
      display: flex;
      justify-content: center;
    }

    .header-btn {
      padding: 0.5rem 1.5rem;
      font-size: 1rem;
      border-radius: 20px;
      border: none;
      color: var(--white-font-color);
      margin: 0% 0.5rem;
      cursor: pointer;
      font-family: var(--albert-sons-font);
    }

    .menu-btn {
      background-color: var(--main-orange);
      transition: all ease 0.2s;
      color: var(--black-font-color);
    }

    .menu-btn:hover {
      background-color: whitesmoke;
    }

    .order-btn {
      border: var(--main-orange) 2px solid;
      background-color: transparent;
      display: flex;
      align-items: center;
      padding-right: 1.2rem;
    }

    .order-icon {
      margin-left: 0.3rem;
      font-size: 1.2rem;
      transition: all ease 0.2s;
    }

    .order-btn:hover .order-icon {
      transform: translateX(10px);
    }

    nav {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    nav a {
      margin: 0% 0.5em;
      position: relative;
      text-decoration: none;
      color: var(--white-font-color);
      font-family: var(--roboto-font);
      transition: all ease 0.2s;
      font-size: 0.8rem;
    }

    .nav-link-icon {
      position: absolute;
      bottom: -0.8em;
      width: 100%;
      left: 5%;
      font-size: 1.2rem;
      transition: all ease 0.1s;
    }

    nav a:hover {
      color: var(--main-orange);
    }

    nav a:hover .nav-link-icon {
      transform: translateY(5px);
    }
    .welcome-container .bottom-container {
      position: absolute;
      bottom: 0%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0.8em;
      margin-top: 1em;
    }
    .bottom-container button {
      padding: 0.4rem 0.8rem;
      font-size: 0.7rem;
      background-color: transparent;
      border: 2px solid var(--white-font-color);
      color: var(--white-font-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      width: 9.5em;
      border-radius: 5px;
      cursor: pointer;
      transition: all ease 0.2s
    }

    .bottom-container button:hover {
      background-color: var(--white-font-color);
      color: inherit;
    }
    .social-icons {
      color: var(--white-font-color);
      font-size: 1.2rem;
      margin: 0% 0.2rem;
      cursor: pointer;
    }

    .social-icons:hover {
      background-color: rgba(255, 255, 255, 0);
      color: rgb(255, 179, 128);
    }

main {
  width: 100%;
  background-color: rgb(189, 189, 189);
  padding-bottom: 20em;
}

.underline {
  width: 70%;
  height: 4px;
  background-color: #353535;
  margin: 5em auto;
  border-radius: 10px;
}

/*  Menu  */

.menu-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  padding: 2rem 4rem;
}

.menu-container img {
  width: 100%;
}

.item-container {
  margin: auto;
}