@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Dancing+Script&family=Open+Sans&family=Poppins:wght@200&family=Roboto&display=swap');

*,
*::after,
*::before {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --open-sans-font: 'Open Sans', sans-serif;
  --albert-sons-font: 'Albert Sans', sans-serif;
  --poppins-font: 'Poppins', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
  --dancing-font: 'Dancing Script', 'cursive';
  --main-orange: #e67f09;
  --main-orange-dark: #c46c08;
  --main-orange-half-opacity: var(--main-orange)80;
  --white-font-color: rgb(255, 255, 255);
  --black-font-color: #000;
}

/* -------------------------------- HEADER STYLING----------------------------  */

.header-container {
  background: url("https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
  .top-nav {
    width: 100%;
    position: absolute;
    top: 0%;
  }
    .top-nav ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: rgb(0, 0, 0, 0.4);
      color: #fff;
      list-style-type: none;
      padding: 0.5rem;
    }
      .top-nav ul li {
        font-family: var(--albert-sons-font);
        font-size: 1.1rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .top-nav ul li:hover {
        text-decoration: underline;
      }

  .middle-container {
    width: 70%;
    min-height: 22em;
    max-height: max-content;
    display: flex;
    box-shadow: 0px 0px 50px 30px rgb(0, 0, 0, 0.4);
    margin-top: 1em;
  }
    .image-back {
      background: url('https://images.unsplash.com/photo-1551218808-94e220e084d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      flex: 1 1 0;
    }
    .welcome-container {
      background-color: rgb(100, 77, 56);
      flex: 1.2 1 0;
      position: relative;
    }
    .welcome-container h1 {
      font-family: var(--dancing-font);
      color: var(--main-orange);
      margin: 1rem;
      width: max-content;
      padding: 0.2rem;
      border-bottom: 4px solid var(--main-orange);
      font-weight: 100;
    }
    .welcome-container p {
      margin: 1em;
      color: var(--white-font-color);
      padding-right: 3em;
      font-family: var(--poppins-font);
      font-weight: 500;
      font-size: 0.8rem;
    }
    .welcome-container .buttons {
      width: 100%;
      margin: 2em auto;
      display: flex;
      justify-content: center;
    }

    .header-btn {
      padding: 0.5rem 1.5rem;
      font-size: 1rem;
      border-radius: 20px;
      border: none;
      color: var(--white-font-color);
      margin: 0% 0.5rem;
      cursor: pointer;
      font-family: var(--albert-sons-font);
    }

    .menu-btn {
      background-color: var(--main-orange);
      transition: all ease 0.2s;
      color: var(--black-font-color);
    }

    .menu-btn a {
      text-decoration: none;
      color: whitesmoke;
    }

    .menu-btn:hover {
      background-color: whitesmoke;
    }

    .menu-btn:hover a {
      color: var(--main-orange);
    }

    .order-btn {
      border: var(--main-orange) 2px solid;
      background-color: transparent;
      display: flex;
      align-items: center;
      padding-right: 1.2rem;
    }

    .order-icon {
      margin-left: 0.3rem;
      font-size: 1.2rem;
      transition: all ease 0.2s;
    }

    .order-btn:hover .order-icon {
      transform: translateX(10px);
    }

    nav {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    nav a {
      margin: 0% 0.5em;
      position: relative;
      text-decoration: none;
      color: var(--white-font-color);
      font-family: var(--roboto-font);
      transition: all ease 0.2s;
      font-size: 0.8rem;
    }

    .nav-link-icon {
      position: absolute;
      bottom: -0.8em;
      width: 100%;
      left: 5%;
      font-size: 1.2rem;
      transition: all ease 0.1s;
    }

    nav a:hover {
      color: var(--main-orange);
    }

    nav a:hover .nav-link-icon {
      transform: translateY(5px);
    }
    .welcome-container .bottom-container {
      position: absolute;
      bottom: 0%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0.8em;
      margin-top: 1em;
    }
    .bottom-container button {
      padding: 0.4rem 0.8rem;
      font-size: 0.7rem;
      background-color: transparent;
      border: 2px solid var(--white-font-color);
      color: var(--white-font-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      width: 9.5em;
      border-radius: 5px;
      cursor: pointer;
      transition: all ease 0.2s
    }

    .bottom-container button:hover {
      background-color: var(--white-font-color);
      color: inherit;
    }
    .social-icons {
      color: var(--white-font-color);
      font-size: 1.2rem;
      margin: 0% 0.2rem;
      cursor: pointer;
    }

    .social-icons:hover {
      background-color: rgba(255, 255, 255, 0);
      color: rgb(255, 179, 128);
    }

@media screen and (max-width: 1000px) {
  .middle-container {
    width: 85%;
  }

  .middle-container p {
    margin: 0.5rem;
  }

  .welcome-container .buttons {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .middle-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .middle-container .image-back {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .middle-container .welcome-container {
    background-color: rgba(0, 0, 0, 0.425);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em;
  }

  .welcome-container h1 {
    margin: 1rem 0;
  }

  .welcome-container p {
    padding: 0;
    text-align: center;
  }

  .bottom-container {
    left: 0%;
  }
}

@media screen and (max-width: 650px) {
  .middle-container .welcome-container {
    padding: 7em;
  }
}
@media screen and (max-width: 460px) {
  .middle-container .welcome-container {
    padding: 3em;
  }
}
@media screen and (max-width: 350px) {
  .middle-container .welcome-container {
    padding: 0;
  }
}

/*  ----------------------------------MAIN STYLING-----------------------------------------  */

main {
  width: 100%;
  background-color: rgb(180, 180, 180);
}

.underline {
  width: 70%;
  height: 4px;
  background-color: #353535;
  margin: 5em auto;
  border-radius: 10px;
}

/* HOME */

#home {
  width: 90%;
  margin: auto;
  padding-top: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home article {
  width: 40%;
}

@media screen and (max-width: 768px) {
  #home {
    display: flex;
    flex-direction: column;
  }

  #home article {
    width: 100%;
  }

  #home img {
    width: 100%;
    margin-top: 3em;
  }
}

/* About US  */

#about-us {
  margin: 5em 0;
  background-image: url('https://zameenblog.s3.amazonaws.com/blog/wp-content/uploads/2019/05/cover-image-64.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 4em;
  position: relative;
}

#about-us::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#about-us h1 {
  z-index: 5;
}

.about-us-container {
  margin: 5em auto;
  display: grid;
  align-items: center;
  color: #fff;
}

.about-us-container p {
  border-left: 5px solid var(--main-orange);
  padding: 1em;
  margin: 0 1em;
  color: rgb(255, 255, 255);
  font-family: var(--poppins-font);
  z-index: 5;
}

.about-us-container h2 {
  margin-bottom: 0.5em;
  font-family: var(--albert-sons-font);
  color: var(--main-orange);
  z-index: 5;
}

@media screen and (max-width: 500px) {
  #about-us {
    padding: 1em 2em;
  }

  .about-us-container {
    margin: 4em auto;
  }

  .about-us-container h1 {
    margin-bottom: 1em;
  }
}

/*  Menu  */

.menu-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  padding: 2rem 4rem;
}

.menu-container img {
  width: 100%;
}

.item-container {
  margin: auto;
}

@media screen and (max-width: 468px) {
  .menu-container {
    padding: 2rem;
    grid-template-columns: 1fr;
  }
}

.services-container {
  padding: 2em;
  width: 90%;
  background: url('https://images.unsplash.com/photo-1592861956120-e524fc739696?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
  margin: 3em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.services-container .content {
  margin: 2em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
}

.services-container .content h2 {
  font-size: 2.5rem;
  font-family: var(--albert-sons-font);
  color: var(--main-orange);
  margin-bottom: 0.5rem;
}

.services-container .content h3 {
  font-size: 1.8rem;
  font-family: var(--albert-sons-font);
  color: #fff;
}

.services-container .content p {
  font-size: 1.2rem;
  font-family: var(--poppins-font);
  color: #fff;
  font-weight: 500;
  margin-top: 1rem;
}

.sub-service-container {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 2em;
  grid-gap: 2rem;
}

.chef {
  background: url('https://images.unsplash.com/photo-1621494548002-bfc916172ead?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNoZWZ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
}

.waiter {
  background: url('https://images.unsplash.com/photo-1596099804495-978b2cb87bda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FpdGVyJTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
}

.staff {
  background: url('https://images.unsplash.com/photo-1593821915210-e0bac68f370e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudCUyMHN0YWZmfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
}

.sub-service-item {
  min-height: 300px;
  background-size: cover;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  transition: all ease 0.3s;
}

.chef:hover, .waiter:hover, .staff:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
}


.sub-service-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  cursor: pointer;
}

.sub-service-item h2 {
  font-family: var(--roboto-font);
  color: var(--main-orange);
  z-index: 2;
}

.sub-service-item p {
  font-family: var(--albert-sons-font);
  color: #fff;
  z-index: 2;
  font-weight: 400;
}

@media screen and (max-width: 550px) {
  .services-container {
    width: 100%;
    margin: 1em 0%;
    margin-top: 3em;
    padding: 0%;
  }

  .services-container .content {
    margin: 0em;
    padding: 2em;
  }
}

@media screen and (max-width: 400px) {
  .sub-service-container {
    margin: 1em;
    display: flex;
    flex-direction: column;
  }

  .sub-service-item {
    width: 100%;
  }
}

.contact {
  position: relative;
  padding: 5em 0;
}

.contact::after {
  width: 20%;
  height: 25%;
  content: "";
  border: 15px solid var(--main-orange);
  position: absolute;
  top: 10%;
  right: 12%;
  z-index: 1;
}

.contact-border {
  width: 50%;
  height: 50%;
  content: "";
  border: 15px solid var(--main-orange);
  position: absolute;
  bottom: 10%;
  left: 12%;
  z-index: 1;
}

.contact_us_container {
  margin: 5em 15em;
  padding: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0em 2em;
  background-color: #ffffff;
  position: relative;
  z-index: 999999;
}

.contact_us_container h1 {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-bottom: 1em;
  font-family: var(--albert-sons-font);
}

.contact-form {
  display: flex;
  flex-direction: column;
  z-index: 5;
}

input[type='text'],
input[type='email'],
textarea, .submit-btn {
  width: 80%;
  margin: 0.5em auto;
  padding: 0.5em 1em;
  background-color: transparent;
  font-family: var(--open-sans-font);
}

input[type='text'],
input[type='email'] {
  border: none;
  border-bottom: 2px solid rgb(77, 77, 77);
}

textarea  {
  border: 2px solid rgb(77, 77, 77);
  border-radius: 5px;
  
}

.submit-btn {
  border-radius: 20px;
  font-size: 0.8rem;
  border: none;
  padding: 0.5em;
  background-color: var(--main-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all ease-in 0.2s;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--main-orange-dark);
}

.media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #1a1a1a;
}

.media-container h2 {
  font-family: var(--albert-sons-font);
  margin-bottom: 1em;
}

.media-container a {
  background-color: var(--main-orange);
  border: 3px solid var(--main-orange);
  color: rgb(255, 255, 255);
  margin: 0.5em auto;
  width: 80%;
  display: flex;
  align-items: center;
  padding: 0.8em;
  text-decoration: none;
  font-family: var(--albert-sons-font);
  border-radius: 7px;
  transition: all ease 0.2s;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.media-container a:hover {
  background-color: transparent;
  color: var(--main-orange);
}

#email {
  background-color: #09e6b6;
  border-color: #09e6b6;
}

#facebook {
  background-color: #3775c7;
  border-color: #3775c7;
}

#twitter {
  background-color: #1DA1F2;
  border-color: #1DA1F2;
}

#instagram {
  background-color: #fb3958;
  border-color: #fb3958;
}

#email:hover,
#facebook:hover,
#twitter:hover,
#instagram:hover {
  background-color: transparent;
}

#email:hover {
  color: #09e6b6;
}
#facebook:hover {
  color: #3775c7;
}
#twitter:hover {
  color: #1DA1F2;
}
#instagram:hover {
  color: #fb3958;
}

@media screen and (max-width: 1200px) {
  .contact_us_container {
    margin-inline: auto;
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .contact_us_container {
    width: 90%;
  }
}

@media screen and (max-width: 768px){
  .contact_us_container {
    display: flex;
    flex-direction: column;
    padding: 4em 2em;
  }

  input[type='text'],
  input[type='email'],
  textarea, .submit-btn {
    width: 100%;
  }

  .media-container {
    border: none;
    margin-top: 5em;
  }

  .media-container a {
    width: 100%;
  }

  .contact::after {
    width: 40%;
    top: 8%;
  }
}

footer {
  background-color: #1a1a1a;
  padding: 4em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h1 {
  color: #fff;
  font-size: 1rem;
}

footer h1 span {
  font-family: var(--dancing-font);
  color: var(--main-orange);
  font-size: 2rem;
  font-weight: 100;
}

.footer-links {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 3px solid #fff;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin: 0.1rem auto;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer-links {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  footer {
    display: block;
  }

  footer h1 {
    font-size: 0.5rem;
  }

  .footer-links {
    width: 100%;
    margin-top: 2em;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 468px) {
  html {
    font-size: 80%;
  }
}